

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

nav{
    display: flex;
    gap: 80px;
}

a{
    text-decoration: none;
    color: black;
}

.box{
    display: flex;
    align-items: center;
    margin-top: 150px;
}


main{
    margin-top: 150px;
}


.man{
    background-color: #F3D7B7;
}



.uy{
    text-align: center;
}


.img{
    position: relative;
    top: 80px;
}

.a{
    position: absolute;
    left:650px;
    top: 175px;
}



.we{
    font-size: 64px;
}


button{
    width: 193px;
    height: 51px;
    background-color:#0A775F ;
    border-radius: 100px;
    border: none;
    color: white;
    font-size: 19px;
    margin-top: 150px;
}




.text{
    display: flex;
    align-items: center;
    justify-content: center;
}




h2{
    font-size: 48px;
}


p{
    font-size: 22px;
}

.car{
    width: 454px;
    height: 68px;
}



main img:hover {
   transform: scale(1.4);
   
 
}

img{
    transition: 0.4s linear;
}




footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 160px;
    background-color: #F3D7B7;
}


span{
    display: flex;
    gap: 30px;
}













































































































































































































































































































































































































































